# My global snippets. SnipMate has its own defaults which can be found in
# ~/.vim/bundle/snipmate-snippets/snippets/
# 
# Any snippets added here will be available system wide
# 
# snippet sayhi                                                                                                                                                            
# 	 "hello world"

# Ruby
snippet bbind
	binding.pry
snippet bbindr
	binding.remote_pry

# Markdown
snippet [[
	- [ ] ${1:todo}
