# 
# My Global Snippets
# 
# Any snippets added here will be available system wide
# 
# snippet sayhi                                                                                                                                                            
# 	 "hello world"
