# These snippets only apply to files where the syntax is markdown

snippet li                                                                                                                                                            
	[${1:text}](${2:address}) 
